#notes-container .card{
   margin-bottom:25px; 
}
#app-title{
    margin:15px 0 25px 0;    
}
#app-title > .box{
    padding : 15px;
}
.card-header-title{
    padding: .75em 1.5em;
}
body{
    padding: 0 15px;
    box-sizing: border-box;
}
/*
i.fas.fa-check-circle{
    color:#40ff00;
}

i.fas.fa-undo{
    color: #ffcc00;
}

i.fas.fa-trash{
    color:red;
}
*/